a:hover,a:active{
    text-decoration: none;
}
body{
    background-color: #523794;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/********************
nav bar styles
**********************/
.affix {
    padding:0px;
    -webkit-transition:padding 0.5s linear;
    -moz-transition:padding 0.5s linear;  
    -o-transition:padding 0.5s linear;         
    transition:padding 0.5s linear;  
}

.affix-top {
    padding: 10px 0px;
    background-color: transparent ;
    -webkit-transition:padding 0.5s linear;
    -moz-transition:padding 0.5s linear;  
    -o-transition:padding 0.5s linear;         
    transition:padding 0.5s linear;  
}
/*************************
home container section
**************************/
#home-container{
    height: 100vh;
    background-image: url('../images/BG.png');
    background-position: 50% 50%;
    overflow-x: hidden;
}
.light-bulb {
  position: absolute;
  top: 0;
  -moz-transform-origin: center top;
  -webkit-transform-origin: top;
  height: 400px;
}

.light-bulb {
  z-index: 11;
  -moz-animation: 3s ease 0s normal none infinite bulb-swing;
  -webkit-animation: bulb-swing 3s infinite ease-in-out;
}

@-moz-keyframes bulb-swing {
  0%{-moz-transform: rotate(-10deg)}
  50%{-moz-transform: rotate(10deg)}
  100%{-moz-transform: rotate(-10deg)}
}

@-webkit-keyframes bulb-swing {
  0%{-webkit-transform: rotate(-10deg)}
  50%{-webkit-transform: rotate(10deg)}
  100%{-webkit-transform: rotate(-10deg)}
}
#bulb1{
    left: 5%;
}
#bulb2{
    left:30%;
}
#bulb3{
    left:55%;
}
#bulb4{
    right: 5%;
}
.scrn70{
    min-height: 70vh;
}

#container2{
    height: 100vh; 
    background-image: url('../images/Marketing-Technology.jpg.jpg')
}
#container4{
    height: 100vh;
    background-image: url('../images/marketing-page.jpg')
}